.order-enter {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  max-height: 0;
  padding: 0 !important;
}
.order-enter.order-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  max-height: 60px;
  padding: 2rem 0 !important;
}
.order-leave {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.order-leave.order-leave-active {
  max-height: 0;
  padding: 0;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
}
.count-enter {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.count-enter.count-enter-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.count-leave {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.count-leave.count-leave-active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.flexbox-container > div {
  width: 50%;
  padding: 10px;
}

.flexbox-container > div:first-child {
  margin-right: 20px;
}

.signin-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.signin-button {
  display: block;
}
.roboto {
  font-family: Roboto, sans-serif
}
.profile-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.profile-item {
  width: 400px;
  margin: 5px;
  text-align: left;
}

.buyrecipe-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  /*position: fixed;*/
  top: 64px;
  right: 0;
  bottom: 6;
  left: 0;
}

.myrecipe-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  /*position: fixed;*/
  top: 64px;
  right: 0;
  bottom: 6;
  left: 0;
}

.card-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  /*position: fixed;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.footer-styles {
  bottom: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #00bcd4;
}

/*.bubble {
  text-align: left;
  background-color: aquamarine;

}
.comment-area
.message


li {
  list-style-type: none;
}
*/
table {
  width: 100%;
}

.modal-lg {
  padding-top: 10%;
  width: 40%;
  height: 75%;
}

.headContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.myprofile-container, .user-dishes {
  text-align: center;
}

.avatar {
  padding-left: 20px;
}

.posts-quant, .meals-quant = {
  font-weight: 700;
  font-size: 18px;
}

.meals-label, .posts-label {
  font-weight: 300;
  font-size: 16px;
}

.user-data {
  padding-top: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.user-name {
  padding-top: 15px;

}

.hvr-grow:hover #overlay {
  opacity:1;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.recipeImage {
  max-width: 100%;
  max-height: 100%;
}

.avatar {
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 0px;
}

.tile-subtitle {
  padding-bottom: 1%
}

